.main-content {
    margin-left: 256px;
    /* Sidebar 너비 */
    min-height: 150vh;
    /* 화면 전체 높이 */
    height: auto;
    /* 자동으로 높이 설정 */
    overflow: hidden;
    /* 스크롤 제거 */
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.history_content {
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    /* Rectangle 159 */
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    border-radius: 54px;
}