.memo-create {
    background-color: white;
    /* 모서리 둥글게 */
    padding: 5px;
    /* 패딩 */
    margin-top: 30px;
    border-radius: 18px;
}

.memo-header {
    display: flex;
    /* 플렉스 박스 사용 */
    justify-content: space-between;
    /* 양쪽 끝으로 정렬 */
    align-items: center;
    /* 수직 정렬 */
    margin-bottom: 8px;
    /* 아래쪽 여백 */
}

.memo-date {
    font-size: 14px;
    /* 날짜 글씨 크기 */
    color: #888;
    /* 글씨 색상 */
}

.memo-add-button {
    background-color: #5157AB;
    /* 버튼 배경색 */
    color: white;
    /* 버튼 글씨색 */
    border: none;
    /* 기본 경계선 제거 */
    border-radius: 5px;
    /* 모서리 둥글게 */
    padding: 3px 8px;
    /* 패딩 */
    cursor: pointer;
    /* 포인터 커서 */
    font-size: 10px;
    /* 글씨 크기 */
}

.memo-add-button:hover {
    background-color: #807aee;
    /* 호버 시 색상 변경 */
}

.memo-textarea {
    width: 100%;
    /* 너비 100% */
    height: 100px;
    border-radius: 5px;
    /* 모서리 둥글게 */
    padding: 8px;
    /* 패딩 */
    font-size: 10px;
    /* 글씨 크기 */
    resize: none;
    /* 크기 조절 비활성화 */
}

.date-picker-memo-create {
    margin-right: 5px;
    /* 버튼과 간격 설정 */
    border-radius: 10px;
    /* 모서리 둥글게 */
    width: 200px;
    /* 날짜 선택기 너비 조정 */
    font-size: 13px;
    background-color: white;
    /* 배경색 변경 */
    text-align: center;
    /* 텍스트 가운데 정렬 */
}