.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 7%;
}

.calendar-header-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    /* 좌우 5% 여백 */
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 7%;
}

.calendar-month {
    background-color: #3B6FE2;
    color: white;
    font-weight: bold;
    padding: 0px 14px;
    border-radius: 13.7px;
    font-size: 16px;
    white-space: nowrap;
}

.calendar-picker-button {
    background-color: #3B6FE2;
    color: #ffffff;
    padding: 3px 12px;
    border-radius: 13.7px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    /* 좌우 5% 여백 */
    margin: 0 auto;
    box-sizing: border-box;
}

.calendar-day {
    font-size: 60px;
    font-weight: bold;
    flex-shrink: 1;
    min-width: 0;
}

.calendar-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #C3C3C3;
    flex-shrink: 0;
}

.calendar-popover {
    position: absolute;
    top: 25%;
    left: 75%;
    z-index: 1000;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 8px;
}

/* 작은 화면 대응 */
@media (max-width: 1000px) {
    .calendar-day {
        font-size: 35px;
    }

    .calendar-button {
        font-size: 18px;
    }

    .calendar-month,
    .calendar-picker-button {
        font-size: 12px;
    }
}