.grid-container {
    display: grid;
    /* gap: 20px; */
    /* 각 그리드 아이템 간의 간격 */
    /* 부모 요소에 padding 추가 */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    ;
    grid-template-columns: 2fr 8fr;
    /* 그리드 아이템 사이의 간격 */
    gap: 10px;
    /* 1.5rem */
}

.grid-left-column,
.grid-right-column {
    min-width: 0;
    /* 이 한 줄이 마법의 코드! */
}

.grid-item {
    /* gap: 10px; */
    background-color: #ffffff;
    /* 배경색 */
    padding: 20px;
    /* 내부 여백 */
    border-radius: 30px;
    /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    overflow: hidden;
    /* 내용이 넘칠 경우 숨김 처리 */
    margin-bottom: 10px;
    /* align-items: center; */
}

.grid-memo {
    /* gap: 10px; */
    background-color: #ffffff;
    /* 배경색 */
    padding: 15px;
    /* 내부 여백 */
    border-radius: 30px;
    /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    overflow: hidden;
    /* 내용이 넘칠 경우 숨김 처리 */
    min-height: 100vh;
}

.grid-item-graph {
    background-color: #ffffff;
    /* 배경색 */
    padding: 20px;
    /* 내부 여백 */
    border-radius: 8px;
    /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    height: 400px;
    /* 고정 높이 설정 */
    /* width: 1500px; */
    display: flex;
    /* flexbox 사용 */
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    margin-bottom: 10px;
}

.grid-item table {
    border-collapse: collapse;
    /* 테이블 경계 합치기 */
    margin-bottom: 10px;
}