/* 파일 업로드 Fileupload.css */
.upload-content {
    margin-left: 256px;
    padding: 25px;
    /* Sidebar 너비 */
    min-height: 100vh;
    /* 화면 전체 높이 */
    height: auto;
    /* 자동으로 높이 설정 */
    overflow: hidden;
    /* 스크롤 제거 */
    background-color: #e6e4f8;
    display: flex;
    flex-direction: column;
}