/* Mainform.css */

/* 메인 컨텐츠 */
.main-content {
    margin-top: 45px;
    /* Header 높이만큼 여백 */
    margin-left: 256px;
    /* Sidebar 너비만큼 여백 */
    height: calc(100vh - 45px);
    /* 화면 전체 높이에서 Header와 Footer 높이 제거 */
    overflow: auto;
    /* 스크롤 제거 */
    background-color: #ffffff;
}

/* 고정된 전체 화면 */
.fixed-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 부모 높이 100% */
    justify-content: space-between;
}

/* 대시보드 컨테이너 */
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    /* 푸터 높이를 제외한 영역 차지 */
}