.sidebar {
  position: fixed;
  /* 왼쪽 고정 */
  /* Header 아래로 배치 */
  left: 0;
  width: 210px;
  /* Sidebar 너비 */
  height: calc(100vh - 60px);
  /* 화면 전체 높이에서 Header 높이 제거 */
  background-color: #f9f9f9;
  border-right: 1px solid #e5e7eb;
  overflow-y: auto;
  /* 내용 스크롤 가능 */
  z-index: 900;
  /* Header 아래 */
}

.sidebar-nav {
  padding: 16px;
}

.sidebar-logo {
  margin-bottom: 32px;
}

.sidebar-logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-item {
  color: #374151;
}

.menu-item-content {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

/* .menu-item-content:hover:not(.active) {
  background-color: #9da7d3;
  color: white;
} */

.menu-item-content.active {
  background-color: #5C62B8;
  color: white;
  font-weight: bold;
}

.menu-item-icon {
  margin-right: 8px;
}

.menu-item-text {
  margin-left: 8px;
}

.submenu-container {
  margin-left: 16px;
}

.menu-divider {
  border: 0;
  height: 1px;
  background: #020000;
  /* 구분선 색상 */
  margin: 8px;
  /* 기본 여백 제거 */
}

.menu-item-description {
  font-size: 12px;
  /* 설명 글씨 크기 */
  color: #888;
  /* 설명 글씨 색상 */
  margin-top: 8px;
  /* 제목과 설명 사이의 여백 */
  margin-left: 24px;
  /* 제목과 설명을 왼쪽으로 약간 이동 */
}

.campaign-child:hover {
  background-color: rgba(72, 128, 255, 1);
  /*캠페인 자식 요소 hover 색상*/
}

.submenu-container {
  background-color: rgba(72, 128, 255, 0.5);
  /* 배경색 */
  border-radius: 16px;
}

.sidebar-footer {
  height: 100px;
  /* 박스 높이 */
  background-color: #f9f9f9;
  /* 연한 배경색 */
  border-radius: 16px;
  /* 둥근 모서리 */
  margin: 16px;
  /* 좌우 및 위아래 여백 */
  margin-top: auto;
  /* 위쪽 공간 자동 확보 */
  margin-bottom: 20px;
  /* 바닥에서 띄우기 */
  display: flex;
  flex-direction: column;
  /* 세로 정렬 */
  justify-content: center;
  /* 수직 가운데 정렬 */
  align-items: center;
  /* 가로 가운데 정렬 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 약간의 그림자 */
  color: #4c547b;
  /* 텍스트 색상 */
  font-size: 14px;
  /* 기본 텍스트 크기 */
  font-weight: bold;
  /* 텍스트 굵기 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
  gap: 4px;
  /* 두 줄 간격 */
}

.user-name {
  font-size: 14px;
  /* 이메일 텍스트 크기 */
  font-weight: bold;
  /* 이메일 텍스트 강조 */
}

.user-role {
  font-size: 12px;
  /* 역할 텍스트 크기 */
  color: #4c547b;
  /* 연한 회색 텍스트 색상 */
}