/* PricingSection.css */
.pricing-section {
    text-align: center;
    background-color: white;
    /* 배경색 */
    border-radius: 10px;
    /* 모서리 둥글게 */
    /* 그림자 효과 */
}

.pricing-title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;

}

.pricing-subtitle {
    font-size: 2.0rem;
    line-height: 1.3;
    /* 줄 간격 조정 (기본값보다 낮게 설정) */
    margin-bottom: 3rem;

}

.pricing-image {
    width: 100%;
    /* 이미지가 전체 너비를 차지하도록 */
    max-width: 75%;
    /* 최대 너비 설정 */
    height: auto;
    /* 비율 유지 */
    margin: 0 auto;
    /* 중앙 정렬 */
    border-radius: 10px;
    /* 모서리 둥글게 */
}

/* PricingNote.css */
.pricing-note {
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
}


.note-title {
    font-size: 6rem;
    /* 제목 크기 */
    font-weight: bold;
    /* 굵은 글씨 */
    color: #5C62B8;
    /* 글자색 설정 */
    margin: 0;
    /* 기본 여백 제거 */
}

.note-subtitle {
    font-size: 2rem;
    /* 서브 제목 크기 */
    color: black;
    /* 글자색 설정 */
    margin-bottom: 5rem;
}

/* 버튼 스타일 */
.pricing-button {
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.price-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #282E84;
    /* 버튼 배경색 */
    color: white;
    /* 버튼 텍스트 색상 */
    border-radius: 30px;
    /* 둥근 버튼 */
    text-decoration: none;
    /* 링크 밑줄 제거 */
    transition: background-color 0.3s;
    /* 호버 효과 */
    font-size: 3rem;
    /* 버튼 텍스트 크기 */
}

.price-button:hover {
    background-color: #1f2272;
    /* 호버 시 색상 변경 */
}

.price-button:hover {
    background-color: #0056b3;
    /* 호버 시 색상 변경 */
}

/* 모바일 대응 */
@media (max-width: 768px) {
    .pricing-title {
        font-size: 4rem;
        /* 모바일에서의 제목 크기 */
    }

    .pricing-subtitle {
        font-size: 1.5rem;
        /* 모바일에서의 서브 제목 크기 */
    }

    .pricing-image {
        max-width: 90%;
        /* 모바일에서의 최대 너비 */
    }

    .note-subtitle {
        font-size: 1.5rem;
        /* 모바일에서의 서브 제목 크기 */
    }

    .price-button {
        font-size: 1.2rem;
        /* 모바일에서 버튼 텍스트 크기 */
    }
}

@media (max-width: 768px) {
    .note-title {
        font-size: 4rem;
        /* 모바일에서의 제목 크기 */
    }

    .note-subtitle {
        font-size: 1.5rem;
        /* 모바일에서의 서브 제목 크기 */
    }

    .note-subtitle {
        font-size: 1.2rem;
        /* 모바일에서의 서브 제목 크기 */
    }

    .price-button {
        font-size: 0.9rem;
        /* 모바일에서 버튼 텍스트 크기 */
    }
}