.data-setting-delete-container>div {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    align-items: center;
    /* 세로 가운데 정렬 */
    justify-content: flex-start;
    /* 가로 시작점으로 정렬 */
    margin-bottom: 10px;
    /* DatePicker 사이 간격 */
}

.date-separator {
    margin: 0 10px;
    /* 물결표시 간격 */
}

/* DatePicker 스타일 (선택 사항) */
.react-datepicker-wrapper {
    width: auto;
    /* DatePicker 너비 자동 조정 */
}

.delete-button {
    background-color: #dc3545;
    /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    /* 버튼 간 간격 */
    font-size: 14px;
}

.delete-button:hover {
    background-color: #c82333;
    /* Darker Red */
}

.delete-button:focus {
    outline: none;
    /* Focus 시 기본 outline 제거 */
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.5);
    /* Focus 시 그림자 효과 */
}